.body {
    background-color: #2B2B2B;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'SF Pro Display', sans-serif;
    backdrop-filter: blur(1em);
    box-shadow: 0px 4px 6px #2b2b2b4b;
}

h1 {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1em;
}


p {
    font-family: 'Roboto', sans-serif;
}

video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.video-wrapper {
    margin-bottom: 4em;
    /* width: auto; */
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    font-family: 'SF Pro Display', sans-serif;
    text-transform: uppercase;
    padding: 1em;
    font-size: 10em;
    position: relative;
    color: #FF6E5F;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.224);

}

.header_blur {
    object-fit: cover;
    position: absolute;
    font-family: 'SF Pro Display', sans-serif;
    text-transform: uppercase;
    padding: 1em;
    font-size: 10em;
    color: #FF6E5F;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.224);
    filter: blur(4px);

}

footer {
    font-family: 'SF Pro Display', sans-serif;
    src: url("https://sf.abarba.me/SF-UI-Display-Light.otf");
    background-color: #2B2B2B;
    color: white;
}

/* Card style detail */

.container_card {
    padding-top: 9em;
    padding-bottom: 7em;
}

.title_card {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 3em;
}

.img-fluid_card {
    width: 35em;
    border-radius: 2em;
}

.text_card {
    border-radius: 1em;
    color: white;
    padding: 1em;
    margin-bottom: 4em;
    background-color: #2B2B2B;
}

.badge {
    margin-right: 1em;
    margin-bottom: 1em;
}

.video_card {
    border-radius: 1em;
}


.card_aperçu {
    color: white !important;
    background-color: #2B2B2B;
}




/* Search  */

.search_movies {
    position: sticky;
    top: 0;
}

/* detail film */

iframe {
    width: 100%;
}


@media (max-width: 767.98px) {
    .text_card {
        padding-top: 1em;
    }

    .header_blur {
        padding-top: 3em;
        font-size: 4em;
    }

    .header {
        padding-top: 3em;
        font-size: 4em;
    }

    h1 {
        padding-top: 4em;
    }

}

@media (max-width: 575.98px) {

    .text_card {
        margin-top: 1em;
        text-align: center;
    }

    .header_blur {
        padding-top: 2em;
        font-size: 4em;
    }

    .header {
        padding-top: 2em;
        font-size: 4em;
    }

    h1 {
        padding-top: 5em;
    }

}